
  .col-sm {
    padding : 2px;
  }
    
  .board {
    width: 100%;
    border: 0px solid saddlebrown;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .lane {
    border: 1px solid black;
    padding: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .task {
  
    margin-bottom: 0.5em;
    background: whitesmoke;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Roboto Slab", sans-serif;      
      border-left-style: solid;
      padding: 5px;
  }
  
  .heading {
    padding: 1em 0;
    font-weight: bolder;
    background: #ffffff;
    color: #000000;
    border-bottom: 0.5em solid #ffffff;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
  }
  
  .collapseDiv {
    padding-left : 5px;
  }

  .taskStatus {
    font-size: smaller;
    color : grey;
  }

  .collapsible {
    overflow: hidden;
  }
  
  .parHead{
    padding-left: 47px;
    font-size: 25px;
    font-weight: 500;
  }